main .blog {
  display: flex;
  text-align: center;
  align-items: flex-start;
}

.blog {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  margin-bottom: var(--spacing-s);
}

section .blog-page {
  margin-top: var(--spacing-l) !important;
}

.blog .blog-filter {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .input {
  width: 350px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  padding: var(--spacing-xxs) var(--spacing-xs);
}

.blog .input input {
  padding: var(--spacing-xxs) 0;
}

.blog .filter {
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  padding: var(--spacing-xs) var(--spacing-xs);
  width: 350px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: var(--spacing-xs);
}

.blog .filter-top-posts {
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xxs)
    var(--spacing-xs);
}

.blog .link-arrow-black a {
  font-size: var(--fontSize-p-s);
}

.blog .blog-filter select {
  border: none;
  width: 50%;
}

.blog .blog-filter label {
  width: 50%;
  position: initial;
}

.blog-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-gap: var(--spacing-s);
  padding: 0 var(--spacing-xs);
}

.blog-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  position: relative;
  margin: 0 auto;
  min-width: 300px;
}

.blog-card img {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

.blog-card .link-arrow-black img {
  height: auto;
}

.blog-card .text {
  padding: var(--spacing-xxs);
  text-align: left;
}

.blog-card .post-meta .blog-date {
  margin-top: 0;
}

.blog-card .text .post-meta p {
  margin-bottom: 0;
  margin-top: 0;
}

.blog-card .text button {
  background-color: var(--white);
  color: var(--dark-grey);
  border: none;
  margin-right: 3px;
  font-size: var(--fontSize-p-s);
}

.blog-card .text button:hover {
  text-decoration: underline;
}

.blog-card .text a::before {
  display: none;
}

.page-indicator {
  margin-top: var(--spacing-s);
}

.page-indicator button {
  box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 10px;
  padding: var(--spacing-xxs);
  border: none;
  background: white;
  margin-right: var(--spacing-xxs);
}

.page-indicator .active {
  background-color: var(--green);
  color: var(--white);
}

.blog-card .text h2 {
  font-size: var(--fontSize-h3);
  line-height: 1;
  margin: 10px 0;
}

.blog-card .text h2 a {
  line-height: 1.2;
  font-size: var(--fontSize-p-l);
}

.top-post {
  align-items: center;
  display: flex;
  padding: var(--spacing-xxs) 0;
}

.top-post h3 {
  color: var(--green);
  font-size: calc(var(--fontSize-h3) * 1.5);
  margin-right: var(--spacing-xxs);
}

.top-post p {
  font-size: var(--fontSize-p-xs);
}

.blog-card .text p {
  font-size: var(--fontSize-p-xs);
  margin: var(--spacing-xxs) 0;
}

.blog-card .text .description {
  font-size: var(--fontSize-p-s);
  margin-bottom: var(--spacing-xs);
  color: var(--black);
}

.blog-card .link-arrow-black {
  padding-bottom: var(--spacing-xxs);
}

.blog-card .read-more {
  position: absolute;
  bottom: 1em;
  left: var(--spacing-xxs);
}

.blog .cta-btn {
  margin-top: var(--spacing-s);
}

.cta-btn-button {
  padding: 10px 20px;
}

.show-more-btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--black);
  font-size: var(--fontSize-p-xs);
  margin-right: var(--spacing-xs);
  margin-top: 8px;
  text-align: left;
  font-weight: var(--fontWeight-bold);
  text-decoration: underline;
  font-family: var(--font);
}

.filter-tags label {
  color: var(--black);
  font-size: var(--fontSize-p-m);
  font-weight: var(--fontWeight-bold);
}

.tag-list {
  margin-top: var(--spacing-xxs);

  display: flex;
  flex-direction: column;
}

.tag-list .tag {
  padding-bottom: calc(var(--spacing-xxs) * 0.8);
  border-bottom: 1.5px solid var(--light-grey);
  text-align: left;
  background-color: var(--white);
  color: var(--dark-grey);
  border-left: none;
  border-right: none;
  border-top: none;
  margin-right: 3px;
  font-size: var(--fontSize-p-s);
  margin-bottom: calc(var(--spacing-xxs) * 0.8);
}

.tag-list .active {
  color: var(--black);
}

select {
  display: block;
  cursor: pointer;
  padding: var(--spacing-xxs);
  width: 120%;
  max-width: 100%;
  border-radius: 0;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='4E4E4E'/></g></svg>")
    no-repeat;
  background-position: right 0px top 50%;
  font-size: var(--fontSize-p-s);
  font-family: var(--fontSize-root);
}

select::-ms-expand {
  display: none;
}

select:focus {
  box-shadow: none;
  outline: none;
}

.posts-found {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.prev_next {
  padding-bottom: var(--spacing-xxs);
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}

.prev_next span {
  color: var(--black);
  font-size: var(--fontSize-h3);
}

@media only screen and (max-width: 768px) {
  main .blog {
    flex-direction: column;
    align-items: center;
  }
  .blog-grid {
    margin-top: var(--spacing-xs);
    padding: 0;
    grid-gap: var(--spacing-xs);
  }

  .blog .blog-filter {
    display: block;
    padding: 0;
  }

  .blog .input {
    margin-left: auto;
    margin-right: auto;
  }

  .blog .filter {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--spacing-xs);
  }
}

@media only screen and (max-width: 600px) {
  .blog-grid {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .blog-card img {
    height: auto;
  }

  .blog .blog-filter {
    padding: 0;
    width: auto;
  }

  .blog .input,
  .blog .filter {
    width: 100%;
  }

  .prev_next span {
    font-size: var(--fontSize-p);
  }
}
