.list-image {
    background-color: var(--lighter-grey);
    display: flex;

    @media only screen and (max-width: 1200px){
      display: block;
    }
  }
  
  .list-block {
  
    &-content {
      width: 50%;
      padding: var(--spacing-m) 0;

      @media only screen and (max-width: 1200px){
        padding: var(--spacing-s) 0;
        width: 100%;
      }

      h2{
        margin-top: var(--spacing-xxs);
        margin-bottom: var(--spacing-xxs);
        max-width: 600px;
        font-size: var( --fontSize-h2-responsive);
      }

      h3{
        color: var(--dark-grey);
      }

      li {
        list-style: none;
        margin-left: 40px;
      }
      
      ul li:before {
        content: '';
        position: absolute;
        margin-top: 8px;
        display: inline-block;
        height: 40px;
        width: 33px;
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        transform: translateX(-40px);
        background-image: url('../images/icons/arrow-black.svg');
        background-repeat: no-repeat
      }
    }
  

    &-img {
      max-height: 620px;
      display: block;
      position: relative;
      width: 50vw;
      right: 0%;
      margin-left: -50vw;

      @media only screen and (max-width: 1200px){
        width: 100%;
        margin-left: 0;
      }

      @media only screen and (max-width: 768px){
        max-height: 520px;
      }
  
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }