.rowreverse {
  flex-direction: row-reverse;

  .imagetext-img{
    img{
      margin-left: 0;
      padding-right: var(--spacing-s);

      @media only screen and (max-width: 1600px) {
        padding-right: 0 ;
        margin-right: 0 ;
      }

      @media only screen and (max-width: 768px) {
        padding-right: 0 ;
        margin-right: 0 ;
      }
    }
  }
}

.imagetext {
    align-items: center;
    display: flex;

    div{
      width: 100%;
    }
  
    @media only screen and (max-width: 1200px) {
      display: block;
    }
  
    &-img {

      img{
        margin-bottom: 0;
        margin-left: var(--spacing-s);
        width: 100%;
    
        @media only screen and (max-width: 1200px) {
          margin-top: var(--spacing-s);
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  
    &-img-reverse {
      margin-bottom: 0;
      padding-right: var(--spacing-s);
      width: 100%;
  
      @media only screen and (max-width: 768px) {
        margin-bottom: var(--spacing-s);
        margin-right: 0 !important;
      }
    }
  
    &-content {
      width: 100%;

      p{
        margin: var(--spacing-xs) 0;

        @media only screen and (max-width: 768px){
          margin: var(--spacing-xxs) 0;
        }
      }

      a{
        color: var(--black);
        font-weight: bold;
        font-size: var(--fontSize-p);
      }
    }
  
  }
  